*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}


.app-container{
    .add-new{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

#filter-input{
  border: 1px solid #ccc;
  padding: 5px ;
  width: 40%;
}

.app-container{
    .login-container{
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      justify-content: center;  
    }
    .login-title{
      text-align: center;
      font-size: 25px;
      font-weight: 600;
      padding: 15px 0;
    }

    input{
      margin: 5px;
      padding: 10px 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #1618230f;
      width: 100%;
    }

    button.active{
      color: #fff;
      background-color: #fe2c55;
      cursor: pointer ;
      
    }

    .login-btn{
      padding: 5px;
      margin: 15px 0;
      border-radius: 5px;
      padding: 10px 5px;
    }

    button[disabled=disabled],button:disabled{
      cursor: not-allowed;

    }

    .back-btn{
      text-align: center;
      cursor: pointer;
      opacity: 0.8;
      margin-top: 10px;
    }

    .back-icon{
      line-height: 24px;
    }
    
    .back-btn i{
      font-size: 10px !important;

    }

    .password-container{
      position: relative;
      
      .show-password-icon{
        opacity: 0.5;
        cursor: pointer;
        position: absolute;
        top:50%;
        // bottom: 0;
        transform: translateY(-50%) ;
        right: 10px;

        &:hover{
          opacity: 1;
        }
      }
    }

}




